@charset "UTF-8";

body {
  margin: 20px 20px 20px 20px;
}
header {
  background-color: #ffcccc;
  max-width: 1000px;
  margin: 0 auto;
}

#wrapper {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

#main {
  width: 700px;
  height: 440px;
  background-color: #ccffcc;
}

#menu {
  width: 300px;
  height: 440px;
  background-color: #ccccff;
}

footer {
  height: 100%;
  width: 1000px;
  display: flex;
  background-color: #ffccff;
  margin: 0 auto;
}
